Lab2/time_ddd_2021/ddds/rasa-nlu/.stignore
Lab2/time_ddd_2021/ddds/rasa-nlu/config-eng.yml
Lab2/time_ddd_2021/ddds/rasa-nlu/okteto.yml
Lab2/time_ddd_2021/ddds/rasa-nlu/train.py
Lab2/time_ddd_2021/ddds/time_ddd/.stignore
Lab2/time_ddd_2021/ddds/time_ddd/backend.config.json
Lab2/time_ddd_2021/ddds/time_ddd/okteto.yml
Lab2/time_ddd_2021/ddds/time_ddd/http-service/.stignore
Lab2/time_ddd_2021/ddds/time_ddd/http-service/clock.json
Lab2/time_ddd_2021/ddds/time_ddd/http-service/gunicorn.conf.py
Lab2/time_ddd_2021/ddds/time_ddd/http-service/http_service.py
Lab2/time_ddd_2021/ddds/time_ddd/http-service/logger.py
Lab2/time_ddd_2021/ddds/time_ddd/http-service/okteto.yml
Lab2/time_ddd_2021/ddds/time_ddd/http-service/requirements.txt
Lab2/time_ddd_2021/ddds/time_ddd/http-service/setup.cfg
Lab2/time_ddd_2021/ddds/time_ddd/time/__init__.py
Lab2/time_ddd_2021/ddds/time_ddd/time/ddd.config.json
Lab2/time_ddd_2021/ddds/time_ddd/time/domain.xml
Lab2/time_ddd_2021/ddds/time_ddd/time/ontology.xml
Lab2/time_ddd_2021/ddds/time_ddd/time/service_interface.xml
Lab2/time_ddd_2021/ddds/time_ddd/time/word_list.txt
Lab2/time_ddd_2021/ddds/time_ddd/time/grammar/__init__.py
Lab2/time_ddd_2021/ddds/time_ddd/time/grammar/grammar_eng.xml
Lab2/time_ddd_2021/ddds/time_ddd/time/test/interaction_tests_eng.txt
kubectl
kubectl.sha256
Lab2/call_john_2021.zip
